<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Registration">User</title>
</head>
<body>
<form action="/users" method="post" enctype="multipart/form-data">
    <label for="username"> Username:
        <input id="username" type="text" name="username" th:value="${user.username}">
    </label><br>

    <label for="image"> Image:
        <input id="image" type="file" name="image">
    </label><br>

    <label for="birthdate"> Birth date:
        <input id="birthdate" type="date" name="birthDate" th:value="${user.birthDate}">
    </label><br>
    <label for="firstname"> First name:
        <input id="firstname" type="text" name="firstName" th:value="${user.firstName}">
    </label><br>
    <label for="lastname" lastname> Last date:
        <input id="lastname" type="text" name="lastName" th:value="${user.lastName}">
    </label><br>
    <div th:each="role: ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Rolename</label>
    </div>
    <div>
        <label for="companyName"> Company:
            <select name="companyId" id="companyName">
                <option th:each="company : ${companies}" th:selected="${company.id() == user.companyId}"
                        th:value="${company.id()}" th:text="${company.name()}">Company
                </option>
            </select>
        </label>
    </div>

    <button type="submit">REGISTER</button>
</form>

<div th:if="${errors}">
    <p style="color: red" th:each="error: ${errors}" th:text="${error.defaultMessage}">error message</p>
</div>

</body>
</html>